<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!--Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@700&display=swap"
        rel="stylesheet">

    <!-- Materialice CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta charset="utf-8">
    <title>Rescate de Patitas</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper purple darken-4">
            <a href="/" class="brand-logo">Rescate de patitas</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Mascotas buscando dueño</a></li>
                <li><a href="badges.html">Mascotas perdidas</a></li>
                <li><a href="collapsible.html">Quiero adoptar</a></li>
            </ul>
        </div>
    </nav>
    <br />
    <br />
    <div class="container">
        <div class="row">
        <div class="col s12">
            <h2>Ajustes de la plataforma</h3>
        </div>
        <br/>
        <div class="row">
            <div class="col s12">
            <a class="waves-effect waves-light btn" href="/agregar_atributo"><i class="material-icons right">add</i>Agregar mas preguntas de plataforma</a>
        </div>
        </div>
        <br/>
        <div class="row">
            <div class="col s12">
            {{#each preguntas_de_registro}}
                {{#eq tipoDePregunta.nombre "boolean"}}
                    <div class="row">
                    <div class="col s12 m6">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <span class="card-title">Pregunta de registro de mascotas</span>
                                    <p>Campo pregunta: {{caracteristicaNombre}}</p>
                                    <p>Forma de pregunta : boolean</p>
                                </div>
                            <div class="card-action">
                                <a href="editar_atributo/{{id}}">Editar</a>
                                <a href="eliminar_atributo/{{id}}">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/eq}}
                {{#eq tipoDePregunta.nombre "multipleChoice"}}
                    <div class="row">
                    <div class="col s12 m6">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <span class="card-title">Pregunta de registro de mascotas</span>
                                    <p>Campo pregunta: {{caracteristicaNombre}}</p>
                                    <p>Forma de pregunta : Multiple choice</p>
                                    <p>Respuestas posibles:</p>
                                    {{#each opciones}}
                                    <p></p>
                                    {{/each}}
                                </div>
                            <div class="card-action">
                                <a href="editar_atributo/{{id}}">Editar</a>
                                <a href="eliminar_atributo/{{id}}">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/eq}}
                {{#eq tipoDePregunta.nombre "pregunta"}}
                    <div class="row">
                    <div class="col s12 m6">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <span class="card-title">Pregunta de registro de mascotas</span>
                                    <p>Campo pregunta: {{caracteristicaNombre}}</p>
                                    <p>Forma de pregunta : pregunta/respuesta</p>
                                </div>
                            <div class="card-action">
                                <a href="editar_atributo/{{id}}">Editar</a>
                                <a href="eliminar_atributo/{{id}}">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/eq}}

            {{/each}}
            </div>
        </div>
        
        </div>
        
    </div>
    <!-- Custom css-->
    <link rel="stylesheet" href="./css/styles.css">

</body>