<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!--Google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@700&display=swap"
    rel="stylesheet">

  <!-- Materialice CSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!--Icons-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <meta charset="utf-8">
  <title>Rescate de Patitas</title>
  </head>
  <body>
    <!-- HEADER -->
    <div>
    <nav>
      <div class="nav-wrapper purple darken-4">
        <a href="/" class="brand-logo">Rescate de patitas</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Mascotas buscando dueño</a></li>
          <li><a href="badges.html">Mascotas perdidas</a></li>
          <li><a href="collapsible.html">Quiero adoptar</a></li>
        </ul>
      </div>
    </nav>
    <br />
    <br />

    <!-- CONTENEDOR FORMULARIO -->

     <div class="container">
      <div class="row card">

        <div class="col s12">
          <h3><u class="underlined-wavy">Datos personales</u></h3>
        </div>
        <div class="col s12">
          <form action="/usuario/{{usuario.id}}/registrar_mascota" method="post" enctype="multipart/form-data">
            <div class="row">
              <div class="col s12">
                <div class="input-field col s4">
                  <input placeholder="Ej: Pancho" id="nombre" type="text" class="validate" name="nombre">
                  <label for="nombre">Nombre de la mascota</label>
                </div>
                <div class="input-field col s4">
                  <input placeholder="Ej: Pancho" id="apodo" type="text" class="validate" name="apodo">
                  <label for="nombre">Apodo</label>
                </div>
              <div class="col s12">
                <div class="input-field col s4">
                  <select class="browser-default" name="tipo_de_mascota">
                    <option value="" disabled selected>Seleccione tipo de mascota</option>
                    <option value="gato">Gato</option>
                    <option value="perro">Perro</option>
                  </select>
                </div>
                <div class="input-field col s4">
                  <select class="browser-default" name="edad_mascota">
                    <option value="" disabled selected>Edad aproximada</option>
                    <option value="cachorro">Cachorro (45 días a 12 meses)</option>
                    <option value="joven">Joven (1 a 5 años)</option>
                    <option value="adulto">Adulto (5 a 9 años)</option>
                    <option value="abuelo">Abuelo (Mayor a 9 años)</option>
                  </select>
                </div>
              </div>
              <div class = "col s12">
                 <div class="input-field col s4">
                  <select class="browser-default" name="sexo_mascota">
                    <option value="" disabled selected>Sexo</option>
                    <option value="macho">Macho</option>
                    <option value="hembra">Hembra</option>
                  </select>
                </div>
                <div class="input-field col s4">
                  <select class="browser-default" name="tamanio_mascota">
                    <option value="" disabled selected>Tamaño mascota</option>
                    <option value="pequenio">Pequeño</option>
                    <option value="mediano" >Mediano</option>
                    <option value="grande">Grande</option>
                  </select>
                </div>
                <div class="input-field col s4">
                  <select class="browser-default" name="esta_castrado">
                    <option value="" disabled selected>Esta castrado?</option>
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                  </select>
                </div>
              </div>
  
              <div class="col s12">
                <div class="input-field col s4">
                  <label for="files">Seleccione fotos:</label>
                  <input type="file" id="files" name="files" multiple>
                </div>
              </div>
              {{#each org.preguntasRequeridas}}
                {{#eq tipoDeRegistro.nombre "registro_de_mascota"}}
                  {{#eq tipoDePregunta.nombre "boolean"}}
                    <div class="input-field col s6">
                      <select class="browser-default" name="pregunta_{{id}}">
                      <option value="" disabled selected>{{caracteristicaNombre}}</option>
                      <option value="Si">Si</option>
                      <option value="No">No</option>
                      </select>
                    </div>
                  {{/eq}}
                  {{#eq tipoDePregunta.nombre "pregunta"}}
                    <div class="input-field col s6">
                        <input name="pregunta_{{id}}" id="pregunta_{{id}}" type="text" class="validate">
                        <label class="active" for="first_name2">{{caracteristicaNombre}}</label>
                    </div>
                  {{/eq}}
                  {{#eq tipoDePregunta.nombre "multiple_choice"}}
                    <div class="input-field col s6">
                      <select class="browser-default" name="pregunta_{{id}}">
                      <option value="" disabled selected>{{caracteristicaNombre}}</option>
                      {{#each opciones}}
                        <option value="{{nombreOpcion}}">{{nombreOpcion}}</option>
                      {{/each}}
                      </select>
                    </div>
                  {{/eq}}
                {{/eq}}
              {{/each}}
              <input id="organizacion" type="hidden" name="organizacion" value="{{org.id}}">
              
              <div class="col s12">
                <div class="input-field col s4">
                   <button class="btn waves-effect waves-light" type="submit">Enviar
                    <i class="material-icons right">send</i>
                    </button>
                </div>
                <!--
                <div class="input-field col s4">
                    <a href="" class="waves-effect waves-light btn"><i class="material-icons">add</i>Agregar mascota</a>
                  </div>
               </div>
               -->
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
